.comment {
    border-radius: 5px;
    padding: 15px;
    padding-left: 20px;
    margin: 20px;
}

.comment .details {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment .author,
.comment .create-date,
.comment .update-date {
    margin-right: 20px;
}

.comment .body {
    margin-bottom: 10px;
}

.comment .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.comment .image {
    max-height: 300px;
    width: auto;
    border: var(--color-2) solid 1px;
    border-radius: "0.75rem";
    margin: 15px 0px;
}

.comment .actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.comment .actions .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32%;
}

.comment .actions .vote {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 37%;
}

.comment.actions.comment {
    display: flex;
    justify-content: center;
    width: 5%;
    padding: 10px 10px 10px 10px;
}

.comment.actions .count {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 10px 10px 10px 10px;
}

.comment .actions .modify {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

.comment .actions .vote .count{
    font-size: 1.33rem;
    justify-content: space-evenly;
}
.comment .actions .comment .count {
    font-size: 1.33rem;
    padding: 0 10px 0 0;
    justify-content: space-evenly;
}

.comment .actions .comment {
    font-size: 1.33rem;
    padding: 10px;
    justify-content: space-evenly;
}

.comment .row {
    display: flex;
    justify-content: space-between;
}

.comment .comment-btn{
    margin: 0 0 0 5px;
    justify-content: space-evenly;
}
