.comment {
    border-radius: 5px;
    padding: 15px;
    padding-left: 20px;
    margin: 20px;
}

.comment .details {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment .author,
.comment .create-date,
.comment .update-date {
    margin-right: 20px;
}

.comment .body {
    margin-bottom: 10px;
}

.comment .actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.comment .actions .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-top: 10px;
}

.comment .actions .vote {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 125px;
}

.comment .actions .comment-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    padding: 10px 10px 10px 10px;
}

.comment .actions .modify {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
}

.comment .actions .vote .count{
    font-size: 1.33rem;
}
.comment .actions .comment-action .count {
    font-size: 1.33rem;
    margin-right: 10px;
}

.comment .comment-btn{
    margin: 0 0 0 5px;
}
