.post {
    border-radius: 5px;
    padding: 15px;
    border: var(--color-2) solid 1px;
    margin: 20px;
}

.post .title {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 5px;
}

.post .details {
    font-size: 1.25rem;
    color: var(--color-1);
}

.post .author,
.post .date {
    margin-right: 10px;
    color: inherit;
}

.post .body {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.post .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.post .image {
    max-height: 300px;
    width: auto;
    border: var(--color-2) solid 1px;
    border-radius: "0.75rem";
    margin: 15px 0px;
}

.post .actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.post .actions .main, 
.post .actions .modify {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.post .actions .comment {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 5%;
}

.post .actions .vote .count,
.post .actions .comment .count {
    font-size: 1.33rem;
}

.post .actions .comment .count {
    margin-right: 10px;
}

button {
    color: var(--color-0);
    font-size: 1rem;
    padding: 5px 10px;
    background-color: var(--color-1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    background: linear-gradient(0deg, #ddb355 0%, #f0cf60 36%, #f0cf60 100%);
}